@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wgt@600&display=swap');

.number {
    font-family: "Sofia";
}

.text {
    font-family: "Caveat";
}

.img {
    height: 250px;
    max-height: 70%;
}

.sortable-placeholder {
    background-color: rgb(var(--bs-secondary-color-rgb));
    border-radius: 4px 4px 4px 4px;
}

.id-number {
    position: absolute;
    max-height: fit-content;
    text-align: center;
    padding-left: 0.25rem;
    padding-top: 0.1rem;
    font-size: 1rem;
    font-weight: 500;
}

.responsive-background {
    background-color: rgb(var(--bs-tertiary-bg-rgb), .3);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
    border-color: rgb(var(--bs-border-color-rgb), .3);
    min-height: 26px;
}